<script src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/main.css">
<link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo" rel="stylesheet">
<header>
	<h1>Rachel Elam</h1>
	<h5> Full stack web developer and musician who is driven by passion for creativity and intuitive content- design. Having a background in early-stage tech startups has given me the mindset to fail forward fast, taking risks for thoughtful, efficient solutions.</h5>
</header>
<div class="nav">
<ul>
	<li><a href="https://docs.google.com/document/d/1ythYiHlgYWvhWYZPnj4RFxnhMX5A3_OWs1VF_sgt1WM/edit?usp=sharing">Resume</a></li>
	<li><a href="https://github.com/relam24">Github</a></li>
	<li><a href="https://www.linkedin.com/in/rachelselam/">LinkedIn</a></li>
</ul>
</div>
