<script src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/main.css">
<link href="https://fonts.googleapis.com/css?family=Economica" rel="stylesheet">
<header>
	<h1>Rachel Elam</h1>
</header>
<div class="topnav" id="myTopnav">
	<a href="https://docs.google.com/document/d/1ythYiHlgYWvhWYZPnj4RFxnhMX5A3_OWs1VF_sgt1WM/edit?usp=sharing">Resume</a>
	<a href="https://github.com/relam24">Github</a>
	<a href="https://www.linkedin.com/in/rachelselam/">LinkedIn</a>
	<div class="dropdown">
		<button class="dropbtn">Projects
			<i class="fa fa-caret-down"></i>
		</button>
	<div class="dropdown-content">
	<a href="https://relam24.github.io/Game/">Hogwarts Four</a>
	<a href="https://guitawesome.herokuapp.com/">Relax and Learn</a>
	<a href="https://rugbytour.herokuapp.com/tournaments">RugbyTour</a>
	<a href="https://heroku-roster.herokuapp.com/">Roster</a>
	<a href="https://roadtotheopry.herokuapp.com/">Road To The Opry</a>
	</div>
</div>
<div class="dropdown">
	<button class="dropbtn">Bio
		<i class="fa fa-caret-down"></i>
	</button>
<div class="dropdown-content">
<h6>Rachel Elam
	<hr />
	Front End | Back End
	<hr />
	Developer and musician who is driven by passion for creativity and intuitive content-design. Having a background in early-stage tech startups has given me the mindset to fail forward fast, taking risks for thoughtful, efficient solutions.
	<hr />
	Rachel started out her career doing tech sales for a SaaS startup called BrightEdge. After being around the startup environment, she fell in love and ended up going to another early-stage SaaS startup called Growbots as a Manager to help create and build the sales program. Although she loved both places, Rachel always was geared more towards coding and being able to use her creativity. So in February of 2018, she took the leap and enrolled in a full time General Assembly Web Development Immersive where she began coding for close to 60 hours a week. Although it was extremely intense, it just solidified that this is her true passion.
</h6>
</div>
</div>
<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
