<script src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/main.css">
<header>
	<h1>Rachel Elam</h1>
</header>
<div class="topnav" id="myTopnav">
	<a href="https://docs.google.com/document/d/1ythYiHlgYWvhWYZPnj4RFxnhMX5A3_OWs1VF_sgt1WM/edit?usp=sharing">Resume</a>
	<a href="https://github.com/relam24">Github</a>
	<a href="https://www.linkedin.com/in/rachelselam/">LinkedIn</a>
	<div class="dropdown">
		<button class="dropbtn">Projects
			<i class="fa fa-caret-down"></i>
		</button>
	<div class="dropdown-content">
	<a href="https://relam24.github.io/Game/">Hogwarts Four</a>
	<a href="https://guitawesome.herokuapp.com/">Relax and Learn</a>
	<a href="https://rugbytour.herokuapp.com/tournaments">RugbyTour</a>
	<a href="https://heroku-roster.herokuapp.com/">Roster</a>
	<a href="https://roadtotheopry.herokuapp.com/">Road To The Opry</a>
	</div>
</div>
<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
