<script src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/main.css">
<link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo" rel="stylesheet">
<header>
	<h1>Rachel Elam</h1>
</header>
