<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title></title>
		<% include ../partials/head.ejs %>
	</head>
	<body>
		<h6> </h6>
				<ul class='container'>
						<% for (let i = 0; i < Projects.length; i++){ %>
					<li>
						<a href='/projects/<%=Projects[i].id; %>'>
							<img class='indeximg' src='<%=Projects[i].img%>'/>
						</a>
						<h5 class="name"><a href='/projects/<%=Projects[i].id; %>/'>
						<%=Projects[i].name; %></a></h5>
					</li>
		 				<% } %>
						<a class='project' href='/projects/new'> Add Project </a>
				</ul>
				<% include ../partials/footer.ejs %>

	</body>
</html>
