<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<% include ../partials/head.ejs %>
	</head>
	<body>
		<div class='container'>
		<h1> Projects </h1>
			<ul class='box'>
					<% for (let i = 0; i < Projects.length; i++){ %>
						<div class='name'>
						<h2><%=Projects.name; %></h2>
						</div>
				 	<li>
					 	<img src='/projects/<%=Projects[i].img%>'/>
				 	</li>
					<li>
						<a href='/projects/<%=Projects[i].url%>'></a>
					</li>
			 		<% } %>
			</ul>
			</div>
			<footer>
			<% include ../partials/footer.ejs %>
			</footer>
	</body>
</html>
