<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title></title>
		<% include ../partials/head.ejs %>
	</head>
	<body>
			<h4> Projects </h4>
				<ul>
						<% for (let i = 0; i < Projects.length; i++){ %>
					<li class='container'>
						<a href='/projects/<%=Projects[i].id; %>'>
							<img src='<%=Projects[i].img%>'/>
						</a>
						<h5><a href='/projects/<%=Projects[i].id; %>/'>
						<%=Projects[i].name; %></a></h5>
					</li>
		 				<% } %>
				</ul>
				<button>
					<a href='/projects/new'> Add Project </a>
				</button>
				<% include ../partials/footer.ejs %>

	</body>
</html>
