<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title></title>
		<% include ../partials/head.ejs %>
	</head>
	<body>
		<div>
		</div>
		<div>
				<h3>
			<%=Projects.name; %>
		</h3>
		</div>
		<div>
			<h4>
		<a href='/projects/<%=Projects.id; %>/'><%=Projects.url; %></a>
	</h4>
		</div>
		<button>
			<!--delete form here before closing li -->
			<!--make action delete with method override -->
						<form action='/projects/<%=Projects.id; %>?_method=DELETE' method='POST'>
							<input type='submit' value='Delete Project'  />
						</form>
			<a href='/projects'>Back to Tournament Index</a>
		</button>
		<footer>
			<% include ../partials/footer.ejs %>
		</footer>
	</body>
</html>
