body {
	display: flex;
	background-color: red;
	flex-direction: column;
}

.container {
	display: flex;
	background-color: blue;
	flex-direction: column;
	position: relative;
	align-items: center;
	align-self: center;
	align-content: center;
	width: 98%;
	list-style: none;
	flex-wrap: wrap;
	border-radius: 10px;
}

img {
	height: 500px;
	width: 900px;
	align-items: center;
	align-self: center;
	align-content: center;
	flex-wrap: wrap;
	border-radius: 10px;
}

header {
	background-color: yellow;
	width: 100%;
	height: 20%;
	flex-direction: column;
}

li {
	align-items: center;
	align-self: center;
}
